{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!----- Hero Image Section -------------------------------------->
    <div class="container h-100">
        <div class="row h-100">
            <!-- <div class="col-7 col-md-6 my-auto"> -->
            <div class="col-md-7"></div>
            <div class="col-md-5 col-md-offset-2 my-auto text-right">
                <h1 class="display-4 logo-font text-white text-uppercase">
                    Handmade Jewellery from Thailand
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">20% off your first order!</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <!----- Product Sections -------------------------------------->
    <div class="container-fluid" id="homepage-section">
        <div class="container">
            <br>
            <hr>
            <div class="row fade-in">
                <div class="col-md-5 order-md-2">
                    <!-- <h2 ref="{% url 'products' %}?category=necklaces" class="section-heading">Earrings</h2> -->
                    <a href="{% url 'products' %}?category=earrings" class="section-heading logo-font text-black">Earrings</a>
                    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum voluptatem, fugit omnis, 
                        magni incidunt officiis ut suscipit aliquam autem at, odit quaerat culpa ad ipsum quos natus dolores non veniam.
                    </p>
                </div>
                <div class="col-md-5 order-md-1 offset-md-1 text-center">
                    <a href="#" id="earrings-category" aria-label="earrings category">
                    <img class="product-image" src="/media/earrings.JPG" width="300" height="300" aria-label="" alt="">
                    </a>
                </div>
            </div>
            <hr>
            <div class="row fade-in">
                <div class="col-md-5 offset-md-1">
                    <!-- <h2 class="section-heading">Necklaces</h2> -->
                    <a href="{% url 'products' %}?category=necklaces" class="section-heading logo-font text-black">Necklaces</a>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ipsam modi at dignissimos 
                        quasi doloribus voluptas in! Ipsam maxime dolorum delectus culpa aut earum possimus natus, nesciunt eius expedita sed?</p>
                </div>
                <div class="col-md-5 text-center">
                    <a href="#" id="necklaces-category" aria-label="necklaces category">
                        <img class="product-image" src="/media/necklaces.JPG" width="300" height="300" aria-label="" alt="">
                    </a>
                </div>
            </div>
            <hr>
            <div class="row fade-in">
                <div class="col-md-5 order-md-2">
                    <!-- <h2 class="section-heading">Bracelets</h2> -->
                    <a href="{% url 'products' %}?category=rings" class="section-heading logo-font text-black">Rings</a>
                    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto nisi sunt dolore provident suscipit 
                        aperiam adipisci non asperiores dolorum atque consequuntur velit, veniam labore ex delectus consectetur ipsam dolores ullam?</p>
                </div>
                <div class="col-md-5 order-md-1 offset-md-1 text-center">
                    <a href="#" id="bracelets-category" aria-label="bracelets category">
                        <img class="product-image" src="/media/accessories.jpg" width="300" height="300" aria-label="" alt="">
                    </a>
                </div>
            </div>
            <hr>
            <br>
        </div>
    </div>

    <!----- About Section -------------------------------------->
    <div class="container-fluid" id="about-section">
        <div class="container">
            <br>
            <br>
            <h2 class="text-center">
                About JIIRA Jewellery
            </h2>
            <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FJIIRAJEWELRY%2Fvideos%2F908189623009663%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
            <p class="lead fade-in">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto nisi sunt dolore provident suscipit 
                aperiam adipisci non asperiores dolorum atque consequuntur velit, veniam labore ex delectus consectetur ipsam dolores ullam?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sunt ullam adipisci ipsum ipsam praesentium, magni modi 
                placeat facilis ut quos quisquam quia ea minima maxime voluptatum similique excepturi doloribus?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe recusandae fugiat ipsum vel hic itaque accusamus nemo tempore 
                inventore consequuntur velit ratione atque veniam, reprehenderit voluptates expedita in sunt maxime.
            </p>
        </div>
        <br>
        <br>
    </div> 

    <!----- Link to JS for fade in text on product sections -------------------------------------->
    <script src="{% static 'js/observers.js' %}"></script>

{% endblock %}
