{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!----- Hero Image Section -------------------------------------->
    <!-- to revert to just background image, add container class to first div and remove video and video-overlay divs -->
    <div class="container h-100">
        <div class="row h-100">
            <video src="{% static 'images/jiira.mov' %}" muted loop autoplay></video>
            <!----- Hero Image Text Overlay -------------------------------------->
            <!-- <div class="d-none d-md-block col-md-5 col-md-offset-7 my-auto text-right hero-cover display-4"> -->
            <div class="ml-auto my-auto w-50 hero-cover">
                <div class="ml-2 logo-font text-uppercase hero-text">
                    Handmade Jewellery from Thailand
                </div>
                <div class="ml-2 my-2">
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
   
    <!----- Product Sections -------------------------------------->
    <div class="container-fluid" id="homepage-section">
        <div class="container">
            <hr class="mb-4 mt-4">
            <div class="row fade-in">
                <div class="col-md-5 order-md-2">
                    <a href="{% url 'products' %}?category=stud_earrings,hoop_earrings" class="section-heading logo-font text-black fade-ltr">Earrings</a>
                    <p class="lead section-lead">Earrings give you an effortless way to add glamour to all your outfits. With fabulous designs in pearl
                        and silver, you will find a pair to match your look.</p>
                    <p class="lead section-lead section-extended">To put a finishing touch to your outfit, pair your 
                        earrings with our necklaces and rings for a complete look.
                    </p>
                </div>
                <div class="col-md-5 order-md-1 offset-md-1 text-center">
                    <div class="image-wrapper">
                        <a href="{% url 'products' %}?category=stud_earrings,hoop_earrings" id="earrings-category" aria-label="earrings category">
                        <img class="product-image" src="{% static 'images/earrings.jpg' %}" width="300" height="300" aria-label="" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <hr class="mb-4 mt-4">
            <div class="row fade-in">
                <div class="col-md-5 offset-md-1">
                    <a href="{% url 'products' %}?category=pendant_necklaces,choker_necklaces" class="section-heading logo-font text-black fade-ltr">Necklaces</a>
                    <p class="lead section-lead">Jiira's array of unique designs handcrafted from the finest silver, provide the perfect necklace for
                        any occassion. Our necklaces can be matched with our rings and earrings for flawless style. 
                    </p>
                    <p class="lead section-lead section-extended">Providing the finishing touches to make you stand out from the crowd, our 
                        necklaces have their own elegant style.</p>
                </div>
                <div class="col-md-5 text-center">
                    <a href="{% url 'products' %}?category=pendant_necklaces,choker_necklaces" id="necklaces-category" aria-label="necklaces category">
                        <img class="product-image" src="{% static 'images/necklaces.jpg' %}" width="300" height="300" aria-label="" alt="">
                    </a>
                </div>
            </div>
            <hr class="mb-4 mt-4">
            <div class="row fade-in">
                <div class="col-md-5 order-md-2">
                    <a href="{% url 'products' %}?category=band_rings,linked_rings" class="section-heading logo-font text-black fade-ltr">Rings</a>
                    <p class="lead section-lead">Whether your taste is understated or extravagant, you're sure to find a ring that you love 
                        in stunning range. 
                    <p class="lead section-lead section-extended">With exquisite designs in silver and pearl, we have a ring for any 
                        occasion. From link rings that fit seamlessly into your own style, to pearl rings that 
                        make a statement.
                    </p>
                </div>
                <div class="col-md-5 order-md-1 offset-md-1 text-center">
                    <a href="{% url 'products' %}?category=band_rings,linked_rings" id="bracelets-category" aria-label="bracelets category">
                        <img class="product-image" src="{% static 'images/rings.jpg' %}" width="300" height="300" aria-label="" alt="">
                    </a>
                </div>
            </div>
            <hr class="mb-4 mt-4">
        </div>
    </div>

    <!----- About Section -------------------------------------->
    <div class="container-fluid" id="about-section">
        <div class="container">
            <hr class="mt-4">
            <h2 class="text-center">
                About JIIRA Jewellery
            </h2>
            <p class="lead fade-in">Conceived in an art studio five years ago, Jiira Jewellery is the birthchild of fine art student
                Jiratchaya Chaiyasak. Being a lover of anything that combines art with beauty, Jiratchaya discovered the perfect 
                manifestation of this when she started designing jewellery. Having been taught how to fashion jewellery from silver 
                by one of the most renowned art teachers in northern Thailand, she was able to give life to her designs.
            </p>
            <br>
            <p class="lead fade-in"> Every piece is lovingly created by hand with materials ethically sourced exclusively from 
                Thailand. Since each piece is painstakingly made by hand, you can be sure that your purchase is always intrinsically 
                unique. Jiira Jewellery provides stunning pieces that combine timeless looks with a touch of Siamese beauty.
            </p>
            <hr class="mb-4">
        </div>
    </div> 

    <!----- Link to JS for fade in text on product sections -------------------------------------->
    <script src="{% static 'js/observers.js' %}"></script>

{% endblock %}
