{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <!-- <div class="col-7 col-md-6 my-auto"> -->
            <div class="col-md-7"></div>
            <div class="col-md-5 col-md-offset-2 my-auto text-right">
                <h1 class="display-4 logo-font text-white">
                    Handmade Jewellery from Thailand
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Explore the Range</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="homepage-section">
        <div class="container">
            <br>
            <hr>
            <div class="row fade-in">
                <div class="col-md-5 order-md-2">
                    <h2 class="section-heading">Earrings</h2>
                    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum voluptatem, fugit omnis, 
                        magni incidunt officiis ut suscipit aliquam autem at, odit quaerat culpa ad ipsum quos natus dolores non veniam.
                    </p>
                </div>
                <div class="col-md-5 order-md-1 offset-md-1 text-center">
                    <a href="#" id="earrings-category" aria-label="earrings category">
                    <img src="/media/earrings.JPG" width="300" height="300" aria-label="" alt="">
                    </a>
                </div>
            </div>
            <hr>
            <div class="row fade-in">
                <div class="col-md-5 offset-md-1">
                    <h2 class="section-heading">Necklaces</h2>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ipsam modi at dignissimos 
                        quasi doloribus voluptas in! Ipsam maxime dolorum delectus culpa aut earum possimus natus, nesciunt eius expedita sed?</p>
                </div>
                <div class="col-md-5 text-center">
                    <a href="#" id="necklaces-category" aria-label="necklaces category">
                        <img src="/media/necklaces.JPG" width="300" height="300" aria-label="" alt="">
                    </a>
                </div>
            </div>
            <hr>
            <div class="row fade-in">
                <div class="col-md-5 order-md-2">
                    <h2 class="section-heading">Bracelets</h2>
                    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto nisi sunt dolore provident suscipit 
                        aperiam adipisci non asperiores dolorum atque consequuntur velit, veniam labore ex delectus consectetur ipsam dolores ullam?</p>
                </div>
                <div class="col-md-5 order-md-1 offset-md-1 text-center">
                    <a href="#" id="bracelets-category" aria-label="bracelets category">
                        <img src="/media/accessories.jpg" width="300" height="300" aria-label="" alt="">
                    </a>
                </div>
            </div>
            <hr>
            <br>
        </div>
    </div>
    <script src="{% static 'js/observers.js' %}"></script>

{% endblock %}
