<h6><strong>Basket Total: ${{ total|floatformat:2 }}</strong></h6>
{% if discount %}
    <h6>{{ first_order_discount }}% first order discount: -${{ discount|floatformat:2 }}</h6>
    <h6>Total: ${{ discounted_total|floatformat:2 }}</h6>
    <h6>{{ grand_total|floatformat:2 }} DISCOUNT APPLIED</h6>
{% endif %}
{% if free_delivery_delta > 0 %}
    <p class="mb-1 text-info">
        <i class="bi bi-info-square"></i> spend another <strong>${{ free_delivery_delta }}</strong> for free delivery
    </p>
{% endif %}
<h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
<h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
{% if not request.user.is_authenticated %}
    <p class="mb-1 text-danger">
        First time here? Register & login to get 20% off!
    </p>
{% endif %}