<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="font-size: 1rem;
  font-family: monsterrat;
  color:#000;
  border: 1px solid #ffcad4;
  border-radius: 5px;
  padding: 1rem; height: auto;">
  <!-- Message -->
  <p>
    <span>Jiira: you have received a message from a customer.</span>
  </p>
  <div>
    <p>
        <span><strong>Subject:</strong></span> {{ subject }}<br><br>
        <span><strong>Message:</strong></span> {{ message }}<br><br>
        <span><strong>Sender:</strong></span> {{ first_name|title }} {{ last_name|title }}<br><br>
        <span><strong>Email:</strong></span> {{ email }}<br><br>
    </p>
  </div>
</body>

</html>