<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black fade-up mr-5"  href="{% url 'home' %}">Home</a>
        </li>

        <!-- <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link fade-up text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Jewellery
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=earrings,necklaces,rings,necklaces" class="dropdown-item">All Jewellery</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
            </div>
        </li> -->

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black fade-up mr-5" href="#" id="earrings-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Earrings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="earrings-link">
                <a href="{% url 'products' %}?category=stud_earrings,hoop_earrings" class="dropdown-item">All Earrings</a>
                <a href="{% url 'products' %}?category=stud_earrings" class="dropdown-item">Stud Earrings</a>
                <a href="{% url 'products' %}?category=hoop_earrings" class="dropdown-item">Hoop Earrings</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black fade-up mr-5" href="#" id="necklaces-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Necklaces
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="necklaces-link">
                <a href="{% url 'products' %}?category=pendant_necklaces,choker_necklaces" class="dropdown-item">All Necklaces</a>
                <a href="{% url 'products' %}?category=pendant_necklaces" class="dropdown-item">Pendant Necklaces</a>
                <a href="{% url 'products' %}?category=choker_necklaces" class="dropdown-item">Chokers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black fade-up mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="rings-link">
                <a href="{% url 'products' %}?category=band_rings,linked_rings" class="dropdown-item">All Rings</a>
                <a href="{% url 'products' %}?category=band_rings" class="dropdown-item">Band Rings</a>
                <a href="{% url 'products' %}?category=linked_rings" class="dropdown-item">Linked Rings</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black fade-up mr-5"  href="{% url 'blog' %}">News</a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black fade-up"  href="{% url 'contact' %}">Contact</a>
        </li>

    </ul>
</div>