{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- Header -->
<div class="container-fluid">
    <div class="row-products">
        <div class="col text-center mt-3 mb-3 pb-1">
            <h2 class="text-center">Create New Post</h2>
        </div>
    </div>
</div>
<!-- Create Post form -->
<div class="container mb-5">
    <div class="row">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 p-5 form-bg">
            <div class="add-blog-form">
                <form class="mt-3" action="{% url 'add_blog_post' %}" method="POST" enctype="multipart/form-data"
                    id="add-blog-form">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="mt-5 mb-5">
                        <button class="btn btn-dark rounded-0 ml-5" type="submit">Save Post</button>
                        <a class="btn btn-danger rounded-0 ml-5" href="{% url 'blog' %}">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}